body {
    background-color: #1a202c;
    font-weight: 700;
}

.active-link {
    border-bottom: 2px solid lightgreen;

}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;